@using HanStoria_WebSite.Entity
@model HanStoria_WebSite.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row">
        <div class="cold-md-12">
            <h2>Sipariş Detay Bilgileri</h2>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Order State</dt>

                <dd class="col-sm-9">
                    @if (Model.OrderState == EnumOrderState.Waiting)
                    {
                        <span class="badge-danger">Onay Bekleniyor</span>
                    }
                    else if (Model.OrderState == EnumOrderState.Completed)
                    {
                        <span class="badge-success">Sipariş Tamamlandı</span>
                    }
                </dd>

                <dt class="col-sm-3">Order Id</dt>
                <dd class="col-sm-9">@Model.OrderId</dd>
                <dt class="col-sm-3">Order Number</dt>
                <dd class="col-sm-9">@Model.OrderNumber</dd>
                <dt class="col-sm-3">Total</dt>
                <dd class="col-sm-9">₺ @Model.Total</dd>
                <dt class="col-sm-3">Order Date</dt>
                <dd class="col-sm-9">@Model.OrderDate</dd>

                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">
                    @Model.AdresBasligi
                    <hr />
                    @Model.Adres
                    <br />
                    @Model.Sehir - @Model.Mahalle
                    <br />
                    @Model.PostaKodu
                </dd>

                <dt class="col-sm-3">Products</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:10%">
                                    Image
                                </th>
                                <th style="width:40%">
                                    Product Name
                                </th>
                                <th style="width:10%">
                                    Quantity
                                </th>
                                <th style="width:10%">
                                    Price
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderLines)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.PhotoName" width="100" />
                                    </td>
                                    <td>@item.ProductName</td>
                                    <td>@item.Quantity</td>
                                    <td>₺ @item.Price</td>
                                    <td style="width:10%">
                                        <a href="/Home/Details/@item.ProductId" class="btn btn-dark btn-sm" target="_blank">
                                            Product Details
                                            <img src="~/icon/map-solid.svg" width="25">
                                        </a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </dd>

            </dl>
        </div>
    </div>
</div>



